/*Principal*/
.imagem {
    min-height: 80vh;
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

#img01 {
    background-image: url(../img/imagem.jpg);
    background-position: right center;
}

.titulo__principal {
    text-align: center;
    padding-top: 15em;    
}

.titulo__principal > h1 {
    font-size: 68px;
}

.titulo__principal > h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.titulo__principal h2::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
  }

  @keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
  }

.titulo__principal a {
    text-decoration: none;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin: 10px 10px; 
}

/* Menu Escondido */

#container__menu-escondido{
    display: none;
}

.menu-lista__link {
    display: none;
}

@media (max-width: 768px) {
    .titulo__principal { 
        height: 30vh;         
        text-align: center;
        padding-top: 20em;            
        margin-top: 20px;
    }    

    #container__menu-escondido{
        display: none; /*voltar aqui display block*/
        background-color: rgba(0, 0, 0, 0.767);
        width: 50vw;
        height: 250px;        
        position: absolute;
    }

    .menu-lista__link{
        width: 25vw;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 40px;
        
    }
    
    .menu-lista__link li {
        text-decoration: none;
        list-style: none;
        font-size: 20px;
       
    }
    
    .menu-lista__link li a {
        text-decoration: none;
        color: white;
    }
    .menu-lista__link li a:hover{
        cursor: pointer;
        color: aqua;
    }
}

@media (max-width: 540px) {
    .titulo__principal { 
        height: 40vh;         
        text-align: center;
        padding-top: 17em;            
        margin-top: 20px;
        
    }       
}