body {
    background-color: #3B3B3B;
    color: white;
}

@keyframes slideDown {
    from {
      opacity: 0;
      max-height: 0;
    }
    to {
      max-height: 200px;
      opacity: 1;
    }
}

@keyframes flutuaImagem {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-24px);
  }
  100% {
      transform: translateY(0);
  }
}