.portfolio {   
    min-height: 100vh;
}

.portfolio > h2 {    
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2em;
}

.tecnologias{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
    
}

.tecnologias span {
    font-size: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.555);
    border-radius: 1rem;
    box-shadow: 4px 4px 4px black;
    padding: 0.75rem;
    cursor: pointer;
}

#html {
    background: linear-gradient(#EE4323, #FDBC1F);
}

#css {
    background-color: #005A9C;
}

#tailwind {
    background-color:  #06B6D4;
}

#javaScript {
    background-color: #F0DA50;
}

#react {
    background-color: #61DAFB;
}

#todos {
    background-color: rgba(23, 23, 170, 0.651);
}

.efeito {
    transition: transform 0.5s ease;
}

.efeito:hover {
    transform: scale(1.2);
}

.cards{
    display: flex;    
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.card {   
    width: 250px; 
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.274);
    box-shadow: 4px 3px 5px black;
    border-radius: 5px;
    margin-bottom: 200px; 
    
}
.card:hover {    
    transform: scale(1.1);
    transition: 1s;
}

.container__card{
    display: inline-block;
    width: 250px;
    height: 250px;
    opacity: 0;
}

.container__card:hover {
    transform: scale(1.1);
    transition: 1s;    
    opacity: 1;    
}

.container__card > a {    
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;    
    background: transparent;    
}

.container__card  span {
    display: inline-block;    
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 10px;
}

#projeto {
    background-color:  #29b11d;    
}

.container__links-btn {
    height: 380px;    
}

.caixa-btn{
    display: inline-block;
    margin: 102px 0px 0px 45px; 
    width: 160px;
    height: 50px;    
}

.card-txt {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;  
}

.logo-texto {    
    padding: 8px;
    text-align: center;
}

#card1 {
    background-image: url(../img/CalculadoraJS.JPG);
    background-size: contain;    
}

#card2 {
    background-image: url(../img/mochila-de-viagem.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#card3 {
    background-image: url(../img/banda.jpg);
    background-size: contain;
    background-repeat: no-repeat;   
}

#card4 {
    background-image: url(../img/alura-plus.JPG) ;
    background-size: cover;
    background-repeat: no-repeat;
}

#card5 {
    background-image: url(../img/SuperCalculadora.JPG);
    background-size: cover;
}

#card6 {
    background-image: url(../img/AluraBooks.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#card7 {
    background-image: url(../img/listaDeCompras.JPG);
    background-size: cover;
}

#card8 {
    background-image: url(../img/calculadora-imc.JPG);
    background-size: cover;
}

#card9 {
    background-image: url(../img/news-letter.JPG);
    background-size: cover;
}

#card10 {
    background-image: url(../img/meteora.JPG);
    background-size: contain;
    background-repeat: no-repeat;
}

#card11 {
    background-image: url(../img/cine-tag.JPG);
    background-size: contain;    
    background-repeat: no-repeat;

}
