body {
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
}

/*Cabeçalho*/

header {
    display: flex;
    justify-content: space-between;   
    font-size: 20px; 
}

header > h1 {
    margin: 20px;    
}

ul {
    display: flex;
    margin-right: 50px;
}

li {
    padding: 20px;
}

/*Principal*/
.imagem {
    min-height: 80vh;
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

#img01 {
    background-image: url(../img/imagem.jpg);
    background-position: right center;
}

.titulo__principal {
    text-align: center;
    padding-top: 15em;    
}

.titulo__principal > h1 {
    font-size: 68px;
}

.titulo__principal > h2 {
    font-size: 30px;
}

/*Sobre Mim*/

.sobre__mim {    
    min-height: 100vh;
    margin-top: 8em;
    margin-bottom: 2em;
}

.sobre__mim > h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2em;
}

.img-texto {
    display: flex;    
}

#minha-img {
    margin-left: 40px;
}

.img-texto > p {    
    width: 700px;
    margin-left: 40px;
    line-height: 2.5rem;
    font-size: 1.5rem;
    text-align: left;
}

/*Portfolio*/
.portfolio {   
    min-height: 100vh;
}

.portfolio > h1 {    
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2em;

}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.card {   
    width: 350px;
    height: 350px;
    border: 1px solid white;
    border-radius: 5px;
}

#card1 {
    background-image: url(../img/CalculadoraJS.JPG);
    background-size: contain;
}